{%- comment -%}
This snippet replaces the resource-template when a hidden resource is rendered
{%- endcomment -%}
<div class="shopify-section">
    <section class="Section" style="text-align:center;padding: 0 5em;margin: 40px 0;">
        <h3>This page is only visible to certain customer accounts.</h3>
        <p>Contact the store owner for more information.</p>
    </section>
</div>
