<script type='text/javascript' src='/apps/wlm/js/wlm-1.1.js'></script>
{% assign wlmEnabled = true %}
{% assign wlmLockON = false %}
{% assign wlmRedirectURL = '' %} 
{% assign wlmPnfHead = '' %} 
{% assign wlmPnfMsg = '' %}
{% assign wlmPwdForm = false %}
{% assign wlmPwdMsg = '' %}
{% assign wlmSuperPage = false %}

{% if template == 'customers/login' or template == 'customers/activate_account' or template == 'customers/reset_password' or canonical_url contains 'challenge' %}

{% unless canonical_url contains '/products/' or canonical_url contains '/collection/' or canonical_url contains '/collections/' or canonical_url contains '/search' %} {% assign wlmSuperPage = true %}
 {% endunless %}{% endif %}

{% capture wlm_check %}{% include 'super_page_access' %}{% endcapture %}{% unless wlm_check contains 'Liquid error' %}{% include 'super_page_access' %}{% endunless %}
{% if wlmEnabled %}
<style type="text/css">.wlm-message-pnf{text-align:center}#wlm-pwd-form{padding:30px 0;text-align:center}#wlm-wrapper{display:inline-block}#wlm-pwd-error{display:none;color:#FB8077;text-align:left;margin-top:10px;font-size:1.3rem}#wlm-pwd-error.wlm-error{border:1px solid #FB8077}#wlm-pwd-form-button{display:inline-block !important;height:auto !important;padding:8px 15px !important;background:black;border-radius:0 !important;color:#fff !important;text-decoration:none !important;vertical-align:top}.wlm-instantclick-fix,.wlm-item-selector{position:absolute;z-index:-999;display:none;height:0;width:0;font-size:0;line-height:0}#wlm-pwd-msg{margin-bottom:20px;text-align:left}#wlm-pwd-msg>p{margin-top:0;margin-bottom:0}.wlm-form-holder{display:flex}#wlm-pwd{border-color:black;border-width:1px;border-right:0;padding:0 10px}#wlm-pwd:focus-visible{outline:0}</style>

{% assign wlmLockedTags203064 = false %}
{% for tag in customer.tags %}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "orbit_wholesale_product_visibility", resource: tag %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Hub_Product_Visibility_For_Loop End {%- endcomment -%}

{% if tag == 'Blogger' %}{% assign wlmLockedTags203064 = true %}{% endif %}
{% endfor %}

{% unless wlmLockON or wlmSuperPage or template == 'customers/register' %}
{% assign wlmLockedContent = false %}
{% if template contains "product" and product %} {% if product.id == 7784163311782 or product.id == 7784167506086 or product.id == 7784167669926 or product.id == 7784186151078 or product.id == 7784166523046 or product.id == 7784166129830 %} {% assign wlmLockedContent = true %}{% endif %}{% endif %}{% if wlmLockedContent %}
{% if customer %}
{% if wlmLockedTags203064 %}{% assign wlmLockON = true %}{% else %}{% assign wlmLockON = false %}{% endif %}
{% if wlmLockON %}
{% capture wlmPnfHead %}Page not found{% endcapture %}
{% capture wlmPnfMsg %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture wlmRedirectURL %}https://mahashe.com/{% endcapture %}
{% endif %}
{% endif %}
{% endif %}
{% endunless %}


{% endif %}

{% capture wlm_check_hide %}{% include 'wlm-hideByLink' %}{% endcapture %}{% unless wlm_check_hide contains 'Liquid error' %}{% include 'wlm-hideByLink' %}{% endunless %}

{% if wlmLockON %}<meta name='robots' content='NOINDEX,NOFOLLOW,NOARCHIVE,NOSNIPPET,NOODP,NOYDIR' />{% endif %}
<script type='text/javascript'>
{% if wlmLockON %}
wlm.navigate('{{ wlmRedirectURL}}');
{% else %}
wlm.navigateByLocation();
{% endif %}
wlm.jq(document).ready(function(){
wlm.removeLinks();
});
</script>
{% capture wlm_hide_price_check %}{% include "wlm-hide-price" %}{% endcapture %}
{% unless wlm_hide_price_check contains 'Liquid error' %}
{% include "wlm-hide-price" %}
{% endunless %}